:root {
  --main-grey: #1a1a1a;
  --light-grey: #e1e1e1;
  --kiwi-green: #34c134;
  --black: #111;
  --white: #fff;
}

::-moz-selection,
::selection { 
  background: #4ee14e;
}

/** RESET **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;

  word-wrap: break-word;
  hyphens: auto;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/** UTILIDADES **/
.break {
  display: block!important;
}

.bold {
  font-weight: bold;
  text-shadow: 0 0 3px #e1e1e1;
}

.c-green {
  color: #34c134;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.justify-right {
  justify-self: flex-end;
}

.mt-1 {
  margin-top: 1.2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.display-none {
  display: none !important;
}

.active-grid {
  display: grid!important;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

/** GLOBALES **/
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  /* scroll-padding-top: 8rem; */
}

.big-container {
  margin: 0 auto;
  max-width: 90%;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

.separator {
  display: block;

  height: 3px;
  width: 100%;
  
  background-color: var(--main-grey);
}

.fancy-line-1 {
  position: relative;
  white-space: nowrap;
}
.fancy-line-1:after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.225);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2334C134' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}

.circle-highlight{
  position:relative;
}

.circle-highlight:before{
  content:"";
  z-index:-1;
  left:-0.3em;
  top:0.1em;
  border-width:5px;
  border-style:solid;
  border-color: var(--kiwi-green);
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

.circle-highlight:after{
  content:"";
  z-index:-1;
  left:-0.3em;
  top:0.25em;
  padding:0.1em 0.25em;
  border-width:3px;
  border-style:solid;
  border-color: var(--kiwi-green);
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

/* Botones */
.btn {
  font-size: 1.2em;
  text-decoration: none;

  padding: 0.5em 2.5em;

  color: var(--black);
  background-color: var(--white);

  border-radius: 10px;
  border: 1px solid var(--main-grey);

  cursor: pointer;

  text-transform: capitalize;
  transition: all 0.1s ease-in;
}

.btn:hover,
.btn:focus {
  filter: brightness(70%);
}

#cta-btn {
  width: 90%;
  margin: 0 auto;
  padding: 0.8em 0;

  font-size: 1.4rem;
  font-weight: bold;

  border: 1px solid var(--white);

  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}

#header-btn {
  background-color: #1e681e;
  color: var(--white);

  border-radius: 50px;
  border: 1px solid var(--kiwi-green);
}

#btn-send {
  background-color: transparent;
  color: var(--kiwi-green);

  border-radius: 50px;
  border: 1px solid var(--kiwi-green);
}

#btn-send:hover,
#btn-send:focus {
  background-color: #1e681e;
  color: var(--white);
  filter: none;
}

/** HEADER **/
/* .site-header {
  justify-content: space-between;

  position: sticky; 
  top: 0;
  z-index: 10;

  background-color: var(--black);
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.site-navigation {
  gap: 2rem;
}

.site-navigation a {
  text-decoration: none;
  text-transform: capitalize;

  color: var(--white);

  font-size: 1.1rem;
  font-weight: 400;

  transition: all 0.2s ease-in;
}

.site-navigation a:hover,
.site-navigation a:focus {
  scale: 1.2;
  color: #e1e1e1;
}

.logo {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;

  color: var(--white);
}

.logo,
.logo > * {
  font-weight: bold;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: var(--white);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
} */

/** GO TO TOP **/
#goToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
   
  outline: none;

  font-size: 1em;
  font-weight: bold;

  border: none;
  border-radius: 50px;

  color: white; 
  background-color: var(--main-grey); 
  
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.4em 1.7em; 

  z-index: 99;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
  0 0 0 1px hsla(230, 13%, 9%, 0.075),
  0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
  0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
  0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

#goToTop:hover {
  filter: brightness(120%);
}

.arrow-top {
  display: inline-block;
  padding: 3px;
  
  border: solid var(--white);
  border-width: 0 6px 6px 0;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/** FOOTER **/
.site-footer {
  margin-top: 20rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  gap: 1.2rem;

  padding: 2em;

  text-align: left;
}

.logo-slogan {
  display: block;
  text-align: left;
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  text-align: center;
}

.icon {
  width: 3rem;
}

.copyright {
  width: 100%;
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .copyright {
    width: auto;
    margin-top: 0;
  }
}

/** ANIMATIONS **/
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
  }
}

/** MEDIA QUERIES **/
@media (width <= 1300px) {
  /*HEADER*/
  .site-header {
    flex-direction: column;
    gap: 2rem;
  }

  .hamburger {
    display: block;
  }

  .site-navigation {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
  }

  #header-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  #cta-btn {
    font-size: 1.2rem;
    padding: 0.6em 0;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 0.5em 1.5em;
    max-width: 300px;
  }
  
  #cta-btn {
    font-size: 1rem;
    padding: 0.5em 0;
  }
}
