/**  SECTIONS **/
section,
main {
    text-align: center;
    padding-top: 2rem;
}

section {
    min-height: 80vh;
}

main {
    min-height: 100vh;
}

/* section, main, .snap-scroll-div, footer {
    scroll-snap-align: start;
} */

.section-title,
.section-title span {
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: bold;
}

.section-subtitle {
    font-size: clam(1.3rem, 4vw, 1.6rem);
    color: #d3d3d3;
    margin-top: 0.8rem;
}

.section-color-subtitle {
    font-size: clamp(1.6rem, 4vw, 2rem);
    font-weight: bold;
    color: var(--kiwi-green);
    margin-bottom: 1rem;
}

.section-intro {
    font-size: 2.5rem;
    text-align: justify;
}

/** INTRO MAIN **/
.introduction {
    display: grid;
    place-content: center;
    gap: 3rem;
    text-align: center;

    background: linear-gradient(-45deg, var(--black), var(--main-grey));

    padding: 5rem;
}

.introduction h1,
.introduction h1 span {
    font-size: clamp(3rem, 5vw, 6rem);
    font-weight: bold;

    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.introduction h2 {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #afafaf;
}

#cta-btn {
    width: 90%;
    margin: 2rem auto;
    padding: 0.8em 0;
  
    font-size: 1.4rem;
    font-weight: bold;
  
    border: 1px solid var(--white);
  
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 white;
  }

.arrow-down {
    width: 30px;
    height: 30px;

    margin: auto;

    border-right: 4px solid lightgray;
    border-bottom: 4px solid lightgray;

    transform: rotate(15deg);

    animation: arrowDownAnimation 1s ease-in-out infinite;
}

/* Arrow animation */
@keyframes arrowDownAnimation {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(10px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(45deg);
    }
}

/** PROBLEMAS QUE IDENTIFICAMOS **/
.problems-heading {
    min-height: 20vh;
}
.problems-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem; /* Añadimos padding para que no quede pegado a los bordes */
    text-align: center; /* Centramos el texto */
}

.problems-section h2 {
    font-size: clamp(1.8rem, 6vw, 3.5rem);
    line-height: 1.4;
}

#short-problem {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}

/** ESTADÍSTICAS **/
.stats {
    place-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    margin: 5rem auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;

    padding: 2rem;

    border-radius: 20px;

    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.4), 0 0 0 1px hsla(230, 13%, 9%, 0.075),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.card h3 {
    font-size: clamp(3rem, 4vw, 3.5rem);
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
}

.card-source {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

/** SOLUCIONES **/
/*TABS*/
.radio-tab[type='radio'] {
    display: none;
}

.tab-system {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.tabs {
    display: flex;
    position: relative;

    padding: 10px;

    background-color: #ffffff;
    border-radius: 100px;

    box-shadow: 0 10px 20px 0 rgba(7, 41, 19, 0.1), 0 0 20px 0 rgba(7, 41, 19, 0.1);
}

.tabs > * {
    z-index: 2;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 54px;
    width: 20vw;

    font-size: clamp(0.8rem, 5vw, 1.2rem);
    font-weight: 400;

    color: #333;
    background-color: transparent;
    border-radius: 99px;

    cursor: pointer;
    transition: color 0.5s, text-shadow 0.5s, font-size 0.5s;
}

.radio-tab[type='radio']:checked + label {
    color: #1db555;
    text-shadow: 0 0 20px #21d964;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
}

.selector {
    display: flex;

    position: absolute;
    height: 54px;
    width: 20vw;

    background-color: #e6ffef;
    border-radius: 100px;

    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.radio-tab[id='consultoria']:checked ~ .selector {
    transform: translateX(0);
}

.radio-tab[id='factory']:checked ~ .selector {
    transform: translateX(100%);
}

.radio-tab[id='capacitaciones']:checked ~ .selector {
    transform: translateX(200%);
}

/*Soluciones Cards*/
.big-cards {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;

    margin: 5rem auto;

    animation: fadeEffect 1s;
}

.big-card {
    align-items: normal;
    background-color: #efefef;
    color: var(--black);

    transition: scale 0.1s ease-in;
}

.big-card:hover,
.big-card:focus {
    scale: 1.05;
    cursor: none;
    box-shadow: 6px 12px 67px -5px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 6px 12px 67px -5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 6px 12px 67px -5px rgba(255, 255, 255, 0.75);
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    margin-bottom: 6rem;
}

.card-heading h3 {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    font-weight: 400;
}

.big-card p {
    font-size: 0.9em;
    color: var(--main-grey);
}

@media (max-width: 816px) {
    .radio-tab[type='radio']:checked + label,
    .tab {
        font-size: 3.5vw;
    }
}

@media (max-width: 568px) {
    .active-grid {
        display: flex !important;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 447px) {
    .card-heading {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }
}

/** PLAN DE ACCIÓN **/
.timeline {
    position: relative;
    max-width: 1200px;

    margin: 4rem auto;
    padding: 64px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 8px;
    height: 0;

    background: linear-gradient(190deg, #21d964 0%, #1db555 100%) !important;
    border-radius: 4px;

    transform: translateX(-50%);
    transition: height 1.5s ease-out, opacity 1.5s ease-out;
}

.timeline-container {
    position: relative;
    width: 50%;

    padding: 32px 48px;
    opacity: 0;

    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline-container.left {
    left: 0;
}

.timeline-container.right {
    left: 50%;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;

    width: 24px;
    height: 24px;

    background: var(--black);
    border: 4px solid var(--kiwi-green);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    z-index: 3;
}

.content {
    position: relative;
    padding: 36px;

    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;

    color: #e1e1e1;
    border: 1px solid var(--light-grey);
    border-radius: 32px;

    overflow-wrap: break-word;
    hyphens: auto;

    cursor: default;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.075),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.content:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.content h3 {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: clamp(1rem, 4vw, 1.2rem);
}

.content p {
    margin-top: 1rem;
    text-align: left;

    font-size: clamp(0.6rem, 4vw, 1rem);
}

.timeline-number {
    font-size: 2rem;
    font-weight: bold;
    color: #21d964;
}

.content-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.timeline.show-line::after {
    height: 100%;
    opacity: 1;
}

.timeline.hide-line::after {
    height: 0;
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .content {
        padding: 0;
    }

    .content h3 {
        flex-direction: column;
        padding: 30px 36px 0px 36px;
    }

    .content p {
        padding: 24px;
    }
}

@media screen and (max-width: 1156px) {
    .timeline::after {
        left: 31px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 40px;
        margin-bottom: 32px;
    }

    .timeline-container.left::before,
    .timeline-container.right::before {
        left: 31px;
    }

    .timeline-container.right {
        left: 0%;
    }

    .timeline-container.left,
    .timeline-container.right {
        left: 0;
    }
}

/** CON QUÉ EMPRESAS TRABAJAMOS **/
.empresas-trabajamos {
    min-height: 90vh;
    padding: 3rem auto;
}

/* Carousel Container */
.cards-carousel {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 80%;
    margin: 0 auto;
    height: 600px;

    -webkit-transform: perspective(1000px) scale(1);
    -moz-transform: perspective(500px) scale(1);
    transform: perspective(500px) scale(1);
}

/* Individual Cards */
.card-carousel {
    position: absolute;

    flex: 0 0 70%; /* Centered card-carousel size */
    max-width: 30%;

    padding: 20px;

    text-align: center;
    border-radius: 20px;

    cursor: pointer;
    box-shadow: 0 0px 10px rgb(29, 181, 85, 0.8);

    transform-origin: center;
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

.card-carousel > * {
    margin: 0.5rem auto 1rem auto;
}

.card-carousel h4 {
    font-weight: bold;
    font-size: clamp(1.6rem, 4vw, 2rem);

    margin-bottom: 2rem;
}

.card-carousel p {
    font-size: clamp(1.3rem, 4vw, 1.6em);
    text-align: center;
}

/* Focused card-carousel */
.card-carousel.focused {
    opacity: 1;
    filter: none;

    z-index: 3;

    cursor: default;
    transform: translateZ(200px) scale(1); /* Bring it to the front */
}

/* Left and Right card-carousels */
.card-carousel.left,
.card-carousel.right {
    opacity: 0.8;
    filter: blur(1px);

    z-index: 2;

    transform: translateX(-120%) rotateY(-15deg) scale(0.8); /* Push left and angle */
}

.card-carousel.right {
    transform: translateX(120%) rotateY(15deg) scale(0.8); /* Push right and angle */
}

/* Hidden card-carousels */
.card-carousel.hidden {
    opacity: 0;

    z-index: 1;

    transform: scale(0.7) translateX(0%);
}

/* Carousel nav */
.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicator {
    width: 20px;
    height: 20px;

    margin: 0 5px;

    background-color: lightgray;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-indicator.current-slide {
    background-color: #83e051; /* Kiwi green color */
    border: 1px solid black;

    box-shadow: 0 0 10px rgba(120, 177, 89, 0.5); /* Light glow for the kiwi effect */
    transform: scale(1.1);
}

.carousel-indicator.current-slide::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 10px;
    height: 10px;

    background-color: #fff; /* A white dot representing the inner part of the kiwi */
    border: 0.5px solid black;
    border-radius: 50%;

    transform: translate(-50%, -50%);
}

.carousel-indicator:hover {
    background-color: #9cb88d;
}

.carousel-indicator.current-slide.animate {
    animation: kiwiPulse 1.5s ease-in-out infinite;
}

@keyframes kiwiPulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(120, 177, 89, 0.5);
    }
    50% {
        transform: scale(1.4);
        box-shadow: 0 0 20px rgba(120, 177, 89, 0.8);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(120, 177, 89, 0.5);
    }
}

@media (max-width: 1000px) {
    .card-carousel {
        max-width: 40%;
        max-width: 100%;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .card-carousel {
        max-width: 50%;
    }
}

/** PARTNERS **/
#partners {
    place-content: center;
}
.partners-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 3rem auto;
}

.partners-box .badge {
    width: 20vw;
}

/** CONTACT **/
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1rem;
}

#contact-heading {
    place-self: center center;
}

.contact-title {
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: bold;

    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.contact-subtitle {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    margin: 5rem auto;
}

.contact-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;

    width: 100%;
}

.input-label-combo {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;

    text-align: start;
}

label,
legend {
    display: inline-block;

    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
    font-size: clamp(0.7rem, 5vw, 1.1em);
    padding: 0.9em 1.3em;

    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 20px;
}

textarea {
    width: 100%;
    min-height: 10rem;
}

/*INTERESES*/
legend {
    margin-bottom: 1rem;
}

.interests-block {
    text-align: left;
    width: 100%;
}

.intereses {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.interes {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 1em;

    border: 2px solid var(--white);
    border-radius: 20px;

    transition: all 0.3s ease-in;
}

.interes input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    cursor: pointer;
}

.interes label {
    font-size: clamp(0.7rem, 5vw, 1.2em);
    font-weight: 400;

    /* word-wrap: break-word;
    hyphens: auto; */
}

.interes:has(> input[type='checkbox']:checked) {
    background-color: var(--white);
}

input[type='checkbox']:checked ~ label {
    color: var(--black);
}

@media (max-width: 968px) {
    .contact-block > .input-label-combo:nth-child(1) {
        margin-bottom: 1rem;
    }

    #btn-send {
        width: 100%;
    }
}

/** ANIMATIONS **/
@keyframes glow {
    from {
        text-shadow: 0px 0px 10px #2da92d, 0px 0px 10px #34c134, 0px 0px 10px #57c74d;
    }
    to {
        text-shadow: 0px 0px 15px #2da92d, 0px 0px 15px #34c134, 0px 0px 15px #57c74d;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/** Media Queries **/
@media (max-width: 768px) {
    .introduction {
        padding: 3rem 1rem;
    }

    .introduction h1 {
        font-size: clamp(2.5rem, 4vw, 4.5rem);
    }

    .introduction h2 {
        font-size: clamp(1rem, 2vw, 1.5rem);
    }
}

@media (max-width: 480px) {
    .introduction h1 {
        font-size: clamp(2rem, 5vw, 3.5rem);
    }

    .introduction h2 {
        font-size: 1rem;
    }
}
